$primarycolor : #0033a0;
$secondarycolor : #00b140;
$theme-colors: (
  "primary": $primarycolor,
  "success": $secondarycolor
);
$body-bg: #ffffff;
$body-color: #111;
$accentColor: $secondarycolor;
$accentColor_ligt : $primarycolor; 